.env
.idea
/node_modules
src/main/resources/items
src/main/resources/photoshop
src/main/resources/temp_items
src/main/resources/unused
/logs
/database
*.txt
/website
package.json
package-lock.json
tsconfig.json
config.json
*.cjs
*.bat