.env
.idea
/dist
/node_modules
bun.lockb
/env
src/main/resources/photoshop
src/main/resources/temp_items/*
src/main/resources/unused
/dist
/logs
/build
/database
*.txt
!requirements.txt
/website
package-lock.json
*.cjs
*.bat